.patients {
  display: flex;
  flex-direction: column;
  gap: $s-5;

  &__head {
    display: flex;
    gap: $s-5;
    align-items: center;
    flex-wrap: wrap;
  }

  &__heading {
    margin: 0;
    font-size: $fs-2xl;
    font-weight: 600;
  }

  &__search { width: 240px; }

  &__reveal { margin-left: $s-3; }
}
